<section class="section-abc">

    <!-- For Login page -->
    <div class="inner-page">




        <div class="auth-box">
            <div>

                <div class="auth-card">
                    <div class="title">
                        Forgot Password
                    </div>

                    <div id="Loginpage">
                        <form [formGroup]="form" (ngSubmit)="recoverPassword()" autocomplete="on">
                            <div class="auth-card-fields">

                                <!-- Email -->
                                <div class="input-wrap">
                                    <mat-form-field [floatLabel]="'always'" class="full-width">
                                        <mat-label>Email</mat-label>
                                        <input formControlName="email" matInput placeholder="example@abc.com"
                                            [(ngModel)]="email" (focusout)="emailFocusOut()" required>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="auth-card-btn-box text-center">
                                <div class="text-center">
                                    <button type="submit" class="btn-vm-auth full-width" mat-raised-button
                                        color="primary" [disabled]="isSubmitted" (click)="recoverPassword()">
                                        Recover Password
                                    </button>
                                </div>
                            </div>

                            <div class="auth-card-signup-link text-center">
                                Try Again?
                                <!-- <a [routerLink]="['/registration']">Join SEDA</a> -->
                                <a (click)="onClickLogin()">Sign in</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>