<section class="section-abc"
  [style.background]="'#198977 url(' + backgroundImageURL + ') no-repeat center center fixed'">

  <!-- For Login page -->
  <div class="inner-page">

    <div class="logo-box">
      <img src="assets/img/seda-logo-white.png" alt="" />
    </div>



    <div class="auth-box">
      <div>

        <div class="auth-card">
          <div class="title">
            Reset Password
          </div>

          <div id="Loginpage">
            <form [formGroup]="form" autocomplete="on">
              <div class="auth-card-fields">
                <!-- Code -->
                <!-- appBlockCopyPaste -->
                <div class="input-wrap">
                  <mat-form-field [floatLabel]="'always'" class="full-width">
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput value="" type="text" #input placeholder="......."
                      [(ngModel)]="code" required />
                    <!-- <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility' :
                                'visibility_off'}}</mat-icon> -->
                  </mat-form-field>
                </div>

                <!-- Password -->
                <!-- appBlockCopyPaste -->
                <div class="input-wrap">
                  <mat-form-field [floatLabel]="'always'" class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput value="" [type]="phide ? 'password' : 'text'" #input
                      placeholder="......." [(ngModel)]="password" required />
                    <!-- <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility' :
                                'visibility_off'}}</mat-icon> -->
                  </mat-form-field>
                </div>

                <!-- Confirm Password -->
                <!-- appBlockCopyPaste -->
                <div class="input-wrap">
                  <mat-form-field [floatLabel]="'always'" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" matInput value="" [type]="phide ? 'password' : 'text'"
                      #input placeholder="......." [(ngModel)]="confirmPassword" required />
                    <!-- <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility' :
                                'visibility_off'}}</mat-icon> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="input-wrap">
                <div class="auth-card-resend-link text-right">
                  <button type="button" mat-raised-button class="round-btn" (click)="onClickResendCode()"
                    [disabled]="isResendCode">
                    Resend Code {{ isTimeOn ? timerEnd : "" }}
                  </button>
                </div>
              </div>

              <!-- <re-captcha size="invisible" #invisible (resolved)="onClickReset($event)"></re-captcha> -->

              <div class="auth-card-btn-box text-center">
                <div class="text-center">
                  <!-- <button class="btn-vm-auth full-width" mat-raised-button color="primary" [disabled]="isSubmitted"
                    (click)="invisible.execute()">
                    Reset Password
                  </button> -->
                  <button class="btn-vm-auth full-width" mat-raised-button color="primary" [disabled]="isSubmitted"
                    (click)="onClickReset()">
                    Reset Password
                  </button>
                </div>
              </div>

              <div class="text-center">
                Try Again?
                <!-- <a [routerLink]="['/registration']">Join SEDA</a> -->
                <a (click)="onClickLogin()">Sign in</a>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>